{% extends 'gallery/base.html' %} {% block content %}

<!-- styles -->
<style>
  .title {
    margin-top: 100px;
  }
  h1 {
    font-family: "Grand Hotel", cursive;
    font-size: 70px;
    color: #dfb722;
  }
  .card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  .card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  
</style>
<!-- end of styles -->


<!-- conatiner div -->
<div class="title">
  <h1 style="text-align: center">Galería</h1>
</div>

<div class="container">
<!-- div that contains everything -->

  <div class="row">
<!-- displaying actual images -->

    {% for image in images %}
      <div class="col-s-6 col-md-4">
        <div class="card my-2">
          <img
            src="{{ image.image.url }}"
            class="image-thumbnail"
            alt="Card image cap"
          />

          <div class="card-body">
            <small>Category:{{image.category.name}}</small>
            <br>
            <small> location:{{image.location.name}}</small>
          </div>

          <a
            href="{% url 'photo' image.id %}"
            class="btn btn-outline-dark btn-sm m-2"
            >view</a
          >
        </div>
      </div>
    
    {% endfor %}
  </div>
</div>

{% endblock %}
