{% extends 'gallery/base.html' %} {% block content %}

<!-- conatiner  -->
<div class="container">
  <a href="{%url 'gallery' %}" class="btn btn-dark mt-5 my-3">Back</a>

  <!-- actual search actions -->
  <div class="row">
    {% if gallery %}
    <h2>found {{gallery|length}} of searched {{message}}</h2>
    {% else %}
    <h2>no results {{message}}</h2>
    {% endif %}
  </div>

  <!-- after search displayed -->
  <div>
    {% for image in searched_images %}
    <div class="col-md-4">
      <div class="card my-2">
        <img
          src="{{ image.image.url }}"
          class="image-thumbnail"
          alt="Card image cap"
        />

        <div class="card-body">
          <small>Category:{{image.category.name}}</small>
          <small> location:{{image.location.name}}</small>
        </div>

        <a
          href="{% url 'photo' image.id %}"
          class="btn btn-outline-dark btn-sm m-2"
          >view</a
        >
      </div>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
